{% extends 'base.html' %}

{% block conteudo %}
    <h2 style="text-align: center;"> LISTA DE COMPRAS </h2>
    <hr>
    
    <ul class="list-group list-group-numbered">
        {% for comprar in lista_compras: %}
            <li class="list-group-item">{{comprar}}</li>
        {% endfor %}

        <br>

        <form action="{{url_for('compras')}}" method="POST">
            <div class="form-group">
                <label for="exampleFruta">Fruta</label>
                <input class="form-control" id="exampleFruta" type="text" name="produto">
            </div> <br>
            <button class="btn btn-success">Adicionar</button>    
        </form>
    </ul>
{% endblock conteudo %}