{% extends 'base.html'%}

{% block conteudo %}
    <form action="{{ url_for('atualizar_jogo', id=jogo.id) }}" method='POST'>
        <fieldset>

            <input type="hidden" name="id" value="{{ jogo.id }}">

            <div clas"form-group">
                <label for="nome"> Nome </label>
                <input type="text" id="nome" name="nome" class="form-control" value="{{ jogo.nome }}">
            </div>

            <div clas"form-group">
                <label for="nome"> Categoria </label>
                <input type="text" id="categoria" name="categoria" class="form-control" value="{{ jogo.categoria }}">
            </div>

            <div clas"form-group">
                <label for="nome"> Console </label>
                <input type="text" id="console" name="console" class="form-control" value="{{ jogo.console }}">
            </div>

            <button type="submit" class="btn btn-primary btn-salvar"> Salvar </button>
        </fieldset>
    </form>
{% endblock %}