

<body>
    <div class="container">
        <h1>{{ titulo }}</h1>
    </div>

    <form>
        <fieldset>
            <div clas"form-group">
                <label for="nome"> Nome </label>
                <input type="text" id="nome" name="nome" class="form">
            </div>

            <div clas"form-group">
                <label for="nome"> Categoria </label>
                <input type="text" id="categoria" name="categoria" class="form">
            </div>

            <div clas"form-group">
                <label for="nome"> Console </label>
                <input type="text" id="console" name="console" class="form">
            </div>

            <button type="submit" class="btn btn-primary btn-salvar"> Salvar </button>
        </fieldset>
    </form>
</body>