<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Planilha Excel</title>
</head>
<body>
    <h1>Dados da Planilha</h1>
    <table border="1">
        <!--
        <thead>            
        <tr>
            <th>{{ cabecalho[1][1] }}</th>
            <th>{{ cabecalho[1][2] }}</th>
            <th>{{ cabecalho[1][3] }}</th>
            <th>{{ cabecalho[1][4] }}</th>
            <th>{{ cabecalho[1][5] }}</th>
            <th>{{ cabecalho[1][6] }}</th>
            
            </tr>
        </thead>
        -->


        <thead>
            <tr>
                {% for coluna in dados[0].keys() %}
                <th>{{ coluna }}</th>
                {% endfor %}
            </tr>
        </thead>

        <tbody>
            {% for linha in dados %}
            <tr>
                {% for valor in linha.values() %}
                <td>{{ valor }}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
