<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ATA PROFESSOR</title>
</head>
<body>
    <!-- AULA 11 -->
    <h2 style="text-align: center;"> ATA DE NOTAS DO PROFESSOR </h2>
    <hr>

    {% for registro in registros %}
        <details>
            <summary>{{registro.aluno}}</summary>
            <p>{{registro.nota}}</p>
        </details>
    {% endfor %}

    <br> <br>   

    <form action="{{url_for('sobre')}}" method="POST">
        <label>Aluno: </label>
        <input type="text" name="aluno" required>
        
        <label>Nota: </label>
        <input type="text" name="nota" required>

        <button>Adicionar</button>
        
    </form> 
</body>
</html>