<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
</head>
<body>
    <h1> CADASTRANDO JOGOS </h1>

    <form>
        <label>Nome do jogo: </label>
        <input type:"text"> <br><br>
        
        <label>Genero: </label> 
        <input type:"text"> <br><br>


        <label>Empresa: </label>
        <input type:"text"> <br><br>


        <label>Plataforma: </label>
        <input type:"text"> <br><br>

        <button type="submit"> Adicionar jogo </button>
    </form>
</body>
</html>